@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
    --clr-primary-100: #0079ff;
    --clr-primary-200: #697c9a;
    --clr-primary-300: #4b6a9b;
    --clr-primary-400: #2b3442;
    --clr-primary-500: #f6f8ff;
    --clr-primary-600: #fefefe;
    --clr-primary-700: #60abff;

    --clr-dark-mode-100: #ffffff;
    --clr-dark-mode-200: #141d2f;
    --clr-dark-mode-300: #1e2a47;

    --fs-title: 1.625rem;
    --fs-toggle: 0.8125rem;
    --fs-button: 0.875rem;
    --fs-input-placeholder: 0.8125rem;
    --fs-name: 1rem;
    --fs-username: 0.8125rem;
    --fs-date: 0.8125rem;
    --fs-bio: 0.8125rem;
    --fs-repos: 0.6875rem;
    --fs-stat-number: 1rem;
    --fs-social: 0.8125rem;

    --br-100: 0.625rem;
    --br-200: 0.9375rem;

    --bs-100: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);

    --max-width-100: 20.4375rem;
    --max-width-200: 35.8125rem;
    --max-width-300: 45.625rem;

    --transition: 0.3s all linear;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    color: var(--clr-primary-500);
}

img {
    display: block;
    width: 100%;
}

/*================*/
/*= Main
/*================*/
.main {
    min-height: 100vh;
    background-color: var(--clr-dark-mode-200);

    padding: 5rem 0;
}

.center {
    margin: 0 auto;
}

.wrapper {
    width: 85vw;
    max-width: var(--max-width-300);
}

.gray {
    color: var(--clr-primary-200);
}

/*================*/
/*= Nav
/*================*/
.navbar {
    height: 4rem;
    margin-bottom: 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: var(--fs-title);
    font-weight: 700;
}

.nav-btn {
    background-color: transparent;
    border: none;
    font-size: var(--fs-toggle);
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 2px;

    display: none;
}

.light, .dark {
    color: inherit;
}

.show {
    display: flex;
    gap: 0 1rem;
    align-items: center;
}

.icon {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

/*================*/
/*= Form
/*================*/
.section-form {
    background-color: var(--clr-dark-mode-300);
    border-radius: var(--br-200);
    padding: 0.65rem;
    padding-left: 1rem;
}

.form {
    display: grid;
    grid-template-columns: 2rem auto 6.5rem;
    align-items: center;
    gap: 0 0.5rem;
}

.form-icon {
    order: -1;
    font-size: 2rem;
    color: var(--clr-primary-100);
    transition: var(--transition);

    display: flex;
    align-items: center;
}

.form-input {
    font-size: var(--fs-input-placeholder);
    font-family: inherit;
    color: var(--clr-primary-600);
    background-color: transparent;
    border: none;
}

.form-input:focus {
    outline: none;
}

.form-input:focus ~ .form-icon {
    font-size: 1.65rem;
}

.form-input::placeholder {
    color: var(--clr-primary-600);
    font-size: var(--fs-input-placeholder);
    font-family: inherit;
}

.form-btn {
    background-color: var(--clr-primary-100);
    color: var(--clr-primary-600);
    border: none;
    border-radius: var(--br-100);
    padding: 1rem 0;
    font-size: var(--fs-button);
    font-weight: 700;
    letter-spacing: 1px;
    font-family: inherit;
    cursor: pointer;
    transition: var(--transition);
}

/*================*/
/*= User
/*================*/
.user {
    background-color: var(--clr-dark-mode-300);
    margin-top: 1.5rem;
    border-radius: var(--br-200);
    padding: 2rem;
    padding-bottom: 3rem;

    display: grid;
    grid-template-columns: 4.5rem 1fr 1fr;
    gap: 0 1rem;
    grid-template-areas:
    'a b b '
    'a c c '
    'a d d '
    'e e e '
    'f f f '
    'g g g ';
}

.user-img {
    border-radius: 50%;
    align-self: center;
    grid-area: a;
}

.user-name {
    font-size: var(--fs-name);
    margin-bottom: 0.25rem;
    grid-area: b;
}

.user-login {
    font-size: var(--fs-username);
    color: var(--clr-primary-100);
    font-weight: 400;
    margin-bottom: 0.4rem;

    grid-area: c;
}

.user-created-at {
    font-size: var(--fs-date);
    font-weight: 400;
    grid-area: d;
}

.user-bio {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    font-size: var(--fs-bio);
    grid-area: e;
}

.user-repos {
    padding: 1.25rem 2rem;
    background-color: var(--clr-dark-mode-200);
    border-radius: var(--br-100);
    margin-bottom: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    grid-area: f;
}

.repos-header {
    text-align: center;
    font-size: var(--fs-repos);
    margin-bottom: 0.5rem;
}

.repo-result {
    text-align: center;
    font-size: var(--fs-stat-number);
    font-weight: 700;
}

.user-socials {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem 0;

    grid-area: g;
}

.social {
    font-size: var(--fs-social);
    display: flex;
    align-items: center;
    gap: 0 1.25rem;
}

.icon {
    font-size: 1.5rem;

}

@media screen and (min-width: 573px) {
    .form {
        gap: 0 1rem;
    }

    .user {
        grid-template-columns: 7rem 1fr 1fr;
        gap: 0 2rem;
    }

    .user-name {
        align-self: flex-end;
    }

    .user-login {
        align-self: center;
    }

    .user-repos {
        justify-content: flex-start;
        gap: 0 20%;
    }

    .repos-header {
        text-align: left;
    }

    .repo-result {
        text-align: left;
    }

    .user-socials {
        grid-template-columns: 1fr 1fr;
    }

    .location {
        order: 0;
    }

    .blog {
        order: 2;
    }

    .twitter {
        order: 1;
    }

    .company {
        order: 3;
    }
}

@media screen and (min-width: 730px) {
    .form-input {
        font-size: calc(var(--fs-input-placeholder) * 1.2);
    }


    .form-input::placeholder {
        font-size: calc(var(--fs-input-placeholder) * 1.2);
    }

    .user {
        grid-template-areas:
    'a b d '
    'a c c '
    'a e e '
    'h f f '
    'h g g ';
    }

    .user-img {
        align-self: flex-start;
    }

    .user-name {
        font-size: calc(var(--fs-name) * 1.5);
        margin-bottom: 0.25rem;
        grid-area: b;
    }

    .user-login {
        font-size: calc(var(--fs-username) * 1.2);
        color: var(--clr-primary-100);
        font-weight: 400;
        margin-bottom: 0.4rem;

        grid-area: c;
    }

    .user-created-at {
        font-size: calc(var(--fs-date) * 1.2);
        font-weight: 400;
        grid-area: d;
    }

    .user-bio {
        font-size: calc(var(--fs-bio) * 1.2);
    }

    .user-repos {
        justify-content: flex-start;
        gap: 0 25%;
    }
}


















